<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppVision.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AppVision.Settings1>
            <setting name="UrlTemplate" serializeAs="String">
                <value>D:\VProTool\RTCTemplate</value>
            </setting>
            <setting name="NumberCamera" serializeAs="String">
                <value>1</value>
            </setting>
        </AppVision.Settings1>
    </userSettings>
</configuration>